.Answer {
  padding-bottom: 5px;
  &:hover {
    color: pink;
    cursor: pointer;
  }
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

@media only screen and (min-width: 2000px) {
  .Answer {
    font-size: 34px;
  }
}