//Desktop small size up to 1200px
//All properties org alpha

.App {
  align-items: center;
  background-image: url("./assets/background.jpg"), linear-gradient(to bottom, rgba(159,216,239,1) 31%,rgba(228,245,252,1) 67%); 
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  text-align: center;
}

#choice-1 {
  background-color: blue;
  border-radius: 20px;
  color: #FFF;
  font-size: 24px;
  font-weight: bolder;
  height: 50px;
  width: 200px;
}

#toast {
  background-color: #FFF;
  border-radius: 2px;
  bottom: 150px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: black;
  font-size: 32px;
  height: 450px;
  left: 0;
  right:0;
  margin: auto;
  max-width: 150px;
  position: fixed;
  text-align: center;
  visibility: hidden;
  z-index: 1;
}

#toast-title {
  padding-top: 50px;
}

#toast-title, #desc {
  padding-bottom: 50px;
}

#toast #desc #choice-1 #choice-2{
  color: #fff;
  overflow: hidden;
  padding: 16px;
  white-space: nowrap;
}

#toast.show {
  animation: fadein 1s, expand 0.5s 0.5s, stay 120s;
  visibility: visible;
}

#toast.hide {
  visibility: hidden;
  animation: fadeout 0.5s 4.5s;
}

//animation keyframes

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 150px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 150px; opacity: 1;}
}

@-webkit-keyframes expand {
  from {min-width: 550px} 
  to {min-width: 550px}
}

@keyframes expand {
  from {min-width: 550px}
  to {min-width: 550px}
}
@-webkit-keyframes stay {
  from {min-width: 550px} 
  to {min-width: 550px}
}

@keyframes stay {
  from {min-width: 550px}
  to {min-width: 550px}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
}