.app-header {
  margin-top: 90px;
  padding-bottom: 65px;
  text-shadow: 3px 3px 15px grey;
}

#title {
  background: linear-gradient(to bottom, hsla(194,72%,85%,1) 45%,hsla(237,45%,89%,1) 50%,hsla(210,65%,73%,1) 25%,hsla(211,70%,74%,1) 100%,hsla(211,70%,66%,1) 100%,hsla(239,70%,66%,.6) 100%,hsla(211,70%,74%,1) 100%,hsla(200,20%,80%,1) 100%);
  border-bottom: .63px solid grey;
  border-radius: 90px;
  border-right: .7px solid grey;
  border-spacing: 10px;
  border-top: 3px solid white;
  box-shadow: 124px 54px 348px 100px rgba(255,255,255, .6), 0 10px 10px -32px rgba(255,255,255, 1);
  padding: 40px 100px;
}

span {
  font-size: 73px;
  text-shadow: 3px 3px 5px grey;
}

@media only screen and (min-width: 2000px) {

  #title {
    font-size: 100px;
  }

  span {
    font-size: 120px;
    font-family: "Tahoma";
  }
}